html{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    
}
.A{
    margin-top: 20px;
    margin-left: 150px;
}
#B{
    margin: left 900px;
}
#bold{
    font-weight: bold;
}
.B
{
    margin-left: 300px;
}

